
<ion-content>
  <div class="container">
    <div class="contained">
      <ion-grid>
        <ion-row>
          <!-- <p>Fusce ut placerat eros. Aliquam consequat in augue sed convallis. Donec orci urna, tincidunt vel dui at, elementum semper dolor. Donec tincidunt risus sed magna dictum, quis luctus metus volutpat. Donec accumsan et nunc vulputate accumsan. Vestibulum tempor, erat in mattis fringilla, elit urna ornare nunc, vel pretium elit sem quis orci. Vivamus condimentum dictum tempor. Nam at est ante. Sed lobortis et lorem in sagittis. In suscipit in est et vehicula.</p> -->
        </ion-row>
      </ion-grid>
    </div>
    <div class="contained">
      <ion-grid>
        <ion-row></ion-row>
      </ion-grid>
    </div>
    <div class="contained">
      <ion-grid>
        <ion-row>
          <ion-col>test1</ion-col>
          <ion-col>test2</ion-col>
          <ion-col>test3</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
