page-aog {
  div.contained {
    height: 60vh;
    background: white;
    opacity: 0.9;
  }
  div.contained:first-child {
    height: 33vh;
    background: $ajw-pri-purple-800;
    opacity: inherit;
  }
  div.contained:last-child {
    height: 7vh;
    background: white;
    opacity: 0.8;
  }
}
