page-login {
  div.contained {
    height: 65vh;
    background: $ajw-pri-purple-600;
    opacity: 0.9;
  }
  div.contained:first-child {
    height: 28vh;
    background: $ajw-pri-purple-700;
    opacity: 0.9;
  }
  div.contained:last-child {
    height: 7vh;
    background: $ajw-pri-purple-600;
    opacity: 0.8;
  }

}
