
<ion-content scroll="false">
  <div class="container">
    <div class="contained">
      <div>
        <ion-grid>
          <ion-row>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="contained">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-10>
            <ion-list inset>
              <ion-item no-lines>
                <ion-label>Login</ion-label>
              </ion-item>
              <ion-item>
                <ion-input type="text" placeholder="Email" name="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="password" placeholder="Password" name="password"></ion-input>
              </ion-item>
              <ion-item>
                <div ion-button full class="submit-btn" type="submit">Submit</div>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div padding>
              <table width="100%">
                <tr>
                  <td><hr/></td>
                  <td style="width:5px; padding: 0 10px; white-space: nowrap; color: white;">OR</td>
                  <td><hr/></td>
                </tr>
              </table>​              
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="contained">
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button clear>Login</button>
          </ion-col>
          <ion-col>
            <button ion-button clear>Register</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>


