// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// AJW Color Branding Variables
// --------------------------------------------------
$ajw-pri-purple-100:                  #9E94AC;
$ajw-pri-purple-200:                  #8F83A1;
$ajw-pri-purple-300:                  #817296;
$ajw-pri-purple-400:                  #72628B;
$ajw-pri-purple-500:                  #645180;
$ajw-pri-purple-600:                  #564075;
$ajw-pri-purple-700:                  #47306A;
$ajw-pri-purple-800:                  #391F5F;
$ajw-pri-purple-900:                  #2B0F54;

$ajw-pri-grey-100:                    #D0D0CF;
$ajw-pri-grey-200:                    #C6C6C5;
$ajw-pri-grey-300:                    #BCBCBC;
$ajw-pri-grey-400:                    #B2B2B3;
$ajw-pri-grey-500:                    #A8A9AA;
$ajw-pri-grey-600:                    #9E9FA0;
$ajw-pri-grey-700:                    #949597;
$ajw-pri-grey-800:                    #8A8B8E;
$ajw-pri-grey-900:                    #808285;

$ajw-pri-red-100:                     #F2BAA4;
$ajw-pri-red-200:                     #F0A894;
$ajw-pri-red-300:                     #EF9685;
$ajw-pri-red-400:                     #EE8476;
$ajw-pri-red-500:                     #ED7367;
$ajw-pri-red-600:                     #EB6157;
$ajw-pri-red-700:                     #EA4F48;
$ajw-pri-red-800:                     #E93D39;
$ajw-pri-red-900:                     #E82C2A;

$ajw-pri-blue-100:                    #B0DEEC;
$ajw-pri-blue-200:                    #9AD8EC;
$ajw-pri-blue-300:                    #84D2ED;
$ajw-pri-blue-400:                    #6ECDED;
$ajw-pri-blue-500:                    #58C7EE;
$ajw-pri-blue-600:                    #42C1EE;
$ajw-pri-blue-700:                    #2CBCEF;
$ajw-pri-blue-800:                    #16B6EF;
$ajw-pri-blue-900:                    #00B1F0;

$ajw-sec-jstreampurple-100:           #C5C9D5;
$ajw-sec-jstreampurple-200:           #B9BFCF;
$ajw-sec-jstreampurple-300:           #AEB6CA;
$ajw-sec-jstreampurple-400:           #A3ADC4;
$ajw-sec-jstreampurple-500:           #98A4BF;
$ajw-sec-jstreampurple-600:           #8C9BB9;
$ajw-sec-jstreampurple-700:           #8192B4;
$ajw-sec-jstreampurple-800:           #7689AE;
$ajw-sec-jstreampurple-900:           #6B80A9;

$ajw-sec-silvergrey-100:              #DCDFDE;
$ajw-sec-silvergrey-200:              #D4D8D8;
$ajw-sec-silvergrey-300:              #CDD2D3;
$ajw-sec-silvergrey-400:              #C5CBCD;
$ajw-sec-silvergrey-500:              #BEC5C8;
$ajw-sec-silvergrey-600:              #B7BEC2;
$ajw-sec-silvergrey-700:              #AFB8BD;
$ajw-sec-silvergrey-800:              #A8B1B7;
$ajw-sec-silvergrey-900:              #A1ABB2;

$ajw-sec-bridgegrey-100:              #CFD6D3;
$ajw-sec-bridgegrey-200:              #C4CCCA;
$ajw-sec-bridgegrey-300:              #BAC3C1;
$ajw-sec-bridgegrey-400:              #B0B9B8;
$ajw-sec-bridgegrey-500:              #A6B0B0;
$ajw-sec-bridgegrey-600:              #9BA6A7;
$ajw-sec-bridgegrey-700:              #919D9E;
$ajw-sec-bridgegrey-800:              #879395;
$ajw-sec-bridgegrey-900:              #7D8A8D;

$ajw-sec-2ndred-100:                  #F0BBB0;
$ajw-sec-2ndred-200:                  #EFAAA4;
$ajw-sec-2ndred-300:                  #EF9998;
$ajw-sec-2ndred-400:                  #EF888C;
$ajw-sec-2ndred-500:                  #EF7780;
$ajw-sec-2ndred-600:                  #EE6674;
$ajw-sec-2ndred-700:                  #EE5568;
$ajw-sec-2ndred-800:                  #EE445C;
$ajw-sec-2ndred-900:                  #EE3350;

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  ajw-pri-purple:     $ajw-pri-purple-900,
  ajw-pri-blue:       $ajw-pri-blue-900,
  ajw-pri-red:        $ajw-pri-red-900,
  ajw-pri-grey:       $ajw-pri-grey-900  
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// Museo Sans Fonts (AJW Corporate Branding)
// --------------------------------------------------

@import "../assets/fonts/museo-sans.scss";

$font-family-base: "Museo Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !default;