// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
  background-image: url('../assets/imgs/bckgrnd-Engine.jpg') !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: absolute;
  background-size: cover;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  height: auto;
  min-height: 100vh;
}
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
.header {
  background: $ajw-pri-purple-800;
}
.footer {
  background: $ajw-pri-purple-700;
}
.main {
  text-align: left;
  background: $ajw-pri-purple-600;
}
.aside-1 {
  background: $ajw-pri-purple-500;
}
.aside-2 {
  background: $ajw-pri-purple-400;
}
@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}
@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

// AJW App Global Sass
body {
  font-family: "Museo Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-weight: 500 !important;
}
h1, h2, h3, p, button {
  font-size: 1.2em;
  font-family: "Museo Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-weight: 700 !important;
}
