page-welcome {
  .ajw-imgLogo {
    src: url('../assets/imgs/ajw.png');
    height: 60px;
    width: 60px;
  }  
  div.contained {
    height: 65vh;
    background: $ajw-pri-purple-600;
    opacity: 0.9;
  }
  div.contained:first-child {
    height: 25vh;
    background: $ajw-pri-purple-700;
    opacity: 0.9;
  }
  div.contained:last-child {
    height: 10vh;
    background: $ajw-pri-purple-600;
    opacity: 0.9;
  }
  ion-footer {
    opacity: 0.9;
  }

}
