<!-- welcome.html -->

<ion-content scroll="false">
  <div class="container">
    <div class="contained" id="divHeader">
      <ion-grid>
        <ion-row text-center>
          <ion-col><h1 style="color: white">Welcome</h1></ion-col>
        </ion-row>
        <ion-row text-center>
          <ion-col><h1 style="color: white">AJW Digital Services</h1></ion-col>
        </ion-row>        
      </ion-grid>
    </div>
    <div class="contained" id="divBody">
      <ion-grid>
        <ion-col>
          <ion-list inset>
            <div [ngSwitch]="welcome">
              <div *ngSwitchCase="'signin'"  no-lines>
                <ion-item text-center>
                  <ion-label>Sign In</ion-label>
                </ion-item>
                <ion-item>
                  <ion-input type="text" placeholder="Email" name="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type="password" placeholder="Password" name="password"></ion-input>
                </ion-item>
                <ion-item text-center>
                  <button ion-button block outline>Login</button>
                  <div padding>
                    <button ion-button block clear>Forgot Password?</button>
                  </div>
                  <div>
                    <table width="100%">
                      <tr>
                        <td><hr/></td>
                        <td style="width:10px; padding: 0 5px; white-space: nowrap; color: grey;">OR</td>
                        <td><hr/></td>
                      </tr>
                    </table>​              
                  </div>
                  <div>
                    <button ion-button block outline>
                      <ion-icon name="logo-windows"></ion-icon>&nbsp;&nbsp;Logon using Office 365
                    </button>
                  </div>
                </ion-item>
              </div>
              <div *ngSwitchCase="'register'">
                <ion-item text-center>
                  <ion-label>Register</ion-label>
                </ion-item>
                <ion-item>
                  <ion-input type="text" placeholder="Company" name="company"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type="text" placeholder="Username" name="username"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type="email" placeholder="Email" name="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type="tel" placeholder="Mobile Number" name="mobNum"></ion-input>
                </ion-item>
                <ion-item>
                  <button ion-button block outline>Submit</button>
                </ion-item>
              </div>
            </div>
          </ion-list>
        </ion-col>
      </ion-grid>
    </div>
    <div class="contained" id="divFooter">
    </div>
  </div>
</ion-content>

<ion-footer>
  <div>
    <ion-item no-lines>
      <ion-segment mode="ios" [(ngModel)]="welcome">
        <ion-segment-button value="signin">Sign In</ion-segment-button>
        <ion-segment-button value="register">Register</ion-segment-button>
      </ion-segment>
    </ion-item>
  </div>  
</ion-footer>


<!-- Flexi Version -->
<!-- <ion-content class="ion-content-wrapper">
  <div class="wrapper">
    <header class="header">Header</header>
    <article class="main">
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>  
    </article>
    <aside class="aside aside-1">Aside 1</aside>
    <aside class="aside aside-2">Aside 2</aside>
    <footer class="footer">Footer</footer>
  </div>
</ion-content> -->
